.accordeon {
  display: block;
  width: 100%;
  border-bottom: 1px solid #3e464b;
  &.open {
    .question {
      &:before {
        transform: rotate(180deg);
      }
    }
  }
  .question {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 32px 30px 32px 0px;
    color: var(--grey);
    position: relative;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;

    &:before {
      content: '';
      width: 15px;
      height: 15px;
      background: url('../img/svg/arrow-down.svg') no-repeat center center/contain;
      position: absolute;
      right: 0px;
      top: 38px;
      pointer-events: none;
      transform: rotate(0deg);
      transition: 0.3s;
    }
    > * {
      pointer-events: none;
    }
  }

  .answer {
    display: block;
    position: relative;
    overflow: hidden;
    height: 0px;
    transition: 0.3s;
    .answer__content {
      display: flex;
      position: relative;
      width: 100%;
      flex-direction: column;
      gap: 10px;
      padding-bottom: 32px;
      padding-right: 30px;
      color: var(--grey);

      p,
      li {
        display: block;
        position: relative;
        font-size: 18px;
        line-height: 1.3;
        font-family: var(--roboto);
        a {
          text-decoration: underline;
        }
      }

      ul {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        li {
          padding-left: 20px;
          &:before {
            content: '';
            width: 4px;
            height: 4px;
            border-radius: 4px;
            background: var(--white);
            position: absolute;
            left: 4px;
            top: 7px;
          }
        }
      }
    }
  }
}
