@font-face {
  font-family: 'Roboto Flex';
  src: url('../fonts/roboto-flex.woff2') format('woff2-variations'), url('../fonts/roboto-flex.woff') format('woff-variations');
  font-weight: 100 1000;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}
