.section--prizes {
  padding: 100px 0px 150px 0px;
  background: var(--bg-invers);
  min-height: 1200px;
  text-align: center;

  @media (max-width: 767px) {
    padding: 80px 0px 80px 0px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 0px;
    width: 3250px;
    height: 100%;
    background: url('../img/prizes/bg.webp') no-repeat center center;
    background-size: auto 100%;
    border-radius: 0px 0px 50% 50%;
    @media (max-width: 1023px) {
      background: url('../img/prizes/bg-mobil.webp') no-repeat center top;
      background-size: auto 117%;
    }
  }
}

.prizes {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px 40px;
  margin-top: 80px;

  li {
    display: flex;
    position: relative;
    width: auto;

    max-width: 630px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px 0px;
    .title {
      width: 100%;
    }

    &:first-child {
      .prize__image {
        &:after {
          content: url('../img/svg/iphone-shadow.svg');
          position: absolute;
          z-index: 0;
          right: 50%;
          bottom: 2%;
        }
      }
    }
  }
  @media (max-width: 1023px) {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 80px;
    li {
      width: 100%;
      max-width: 100%;
      justify-content: space-evenly;
    }
  }

  @media (max-width: 767px) {
    li {
      gap: 60px;
      .title--h2 {
        margin-bottom: -30px;
      }
    }
  }
}

.prize {
  width: 300px;
  max-width: 100%;

  .prize__image {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    margin-bottom: 15px;
    &.prize__image--rotate {
      transform: rotate(-14deg);
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
      @media (max-width: 767px) {
        content: none;
      }
    }

    img {
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      z-index: 2;
      @media (max-width: 767px) {
        position: relative;
        max-width: 226px;
        max-height: 340px;
      }
    }
  }

  .prize__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    span {
      display: block;
      width: 100%;
    }
  }
  @media (max-width: 1023px) {
    width: 300px;
  }
}

.prizes-slider {
  margin: 0 auto;
  max-width: 1160px;
  margin-top: 100px;
  .prize {
    width: 260px;
    margin: 0 auto;
    .prize__image {
      max-height: 200px;
      margin-bottom: 8px;
    }
  }

  @media (max-width: 1365px) {
    max-width: 1100px;
  }
  @media (max-width: 1279px) {
    max-width: 850px;
  }
  @media (max-width: 1023px) {
    max-width: 640px;
    .prize {
      width: 200px;
      .prize__image {
        max-height: 180px;
      }
    }
  }
  @media (max-width: 767px) {
    max-width: 250px;
    .prize {
      width: 200px;
    }
  }
}

.swiper--prizes {
  margin-top: 20px;
  overflow: visible;

  .swiper-slide {
    opacity: 0;
    transition: 0.6s;

    &.swiper-slide-active {
      opacity: 1;
    }

    @media (min-width: 1280px) {
      &.swiper-slide-next + .swiper-slide + .swiper-slide {
        opacity: 1;
      }
    }

    @media (min-width: 768px) {
      &.swiper-slide-next,
      &.swiper-slide-next + .swiper-slide {
        opacity: 1;
      }
      &.swiper-slide-next,
      &.swiper-slide-next + .swiper-slide {
        transform: translate(0px, 60px);
      }
    }

    @media (max-width: 1279px) {
      &.swiper-slide-next + .swiper-slide {
        transform: translate(0px, 0px);
      }
    }
  }
}
