.section--winners {
  padding: 100px 0px;
  min-height: 650px;
  background: var(--bg-invers);

  .fixed-bg {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100svw;
    height: 100%;
    background: url('../img/winners.webp') no-repeat center center/cover;
  }

  .input {
    &.input--select {
      padding-right: var(--input-height);
      height: 56px;
      border-radius: 16px;
      font-family: var(--roboto);
      font-size: 20px;
      padding-right: 56px;
      cursor: pointer;

      @media (max-width: 1023px) {
        font-size: 16px;
      }
    }
  }
}

.winners-filters {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 20px;
  margin: 50px auto 60px auto;
  @media (max-width: 1279px) {
    margin: 0px auto 50px auto;
  }

  .form {
    width: 100%;
    max-width: 268px;
    position: relative;
    .label {
      width: 100%;
      .input {
        border-radius: 40px;
        height: 42px;
      }
      .label__text {
        font-weight: 575;
        opacity: 1;
        top: 11.5px;
        color: #3e464b;
        font-size: 14px;
      }
    }
    button {
      width: 42px;
      height: 42px;
      position: absolute;
      right: 1px;
      top: 0px;
      transition: 0.3s;
    }
  }
}

.table {
  position: relative;
  text-align: right;
  width: 100%;
  border-spacing: 0;
  border: none;
  // table-layout: fixed;
  thead {
    color: var(--black);
    font-size: 18px;
    line-height: 1;
    font-weight: 740;
    font-variation-settings: 'GRAD' 10, 'wdth' 150, 'slnt' 0, 'XOPQ' 96, 'YOPQ' 79, 'XTRA' 468, 'YTUC' 712, 'YTLC' 514, 'YTAS' 750, 'YTDE' -203,
      'YTFI' 738;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 28px;
    z-index: 1;
  }
  tbody {
    color: var(--grey);
    font-weight: 575;
    font-size: 16px;
    line-height: 1.2;
    font-variation-settings: 'GRAD' 15, 'wdth' 126, 'slnt' 0, 'XOPQ' 96, 'YOPQ' 79, 'XTRA' 468, 'YTUC' 712, 'YTLC' 514, 'YTAS' 750, 'YTDE' -203,
      'YTFI' 738;
  }
  tr {
    display: flex;
    width: 100%;
    min-height: 56px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 20px;
    border-radius: 28px;
    position: relative;
    overflow: hidden;
    &:nth-child(2n + 2) {
      background: var(--grey-dark);
    }
    th,
    td {
      padding: 10px 0;
      &:nth-child(2n + 2) {
        text-align: left;
      }

      //столбец 1
      &:nth-child(1) {
        width: 220px;
        padding-left: 36px;
      }

      //столбец 2
      &:nth-child(2) {
        width: 160px;
      }

      //столбец 3
      &:nth-child(3) {
        width: 140px;
      }

      //столбец 4
      &:nth-child(4) {
        width: 300px;
        padding-right: 36px;
      }
    }
  }
}

.pagination {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  margin-top: 34px;
  li {
    display: flex;
    position: relative;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    align-content: center;
    &:first-child,
    &:last-child {
      width: 42px;
      height: 42px;
      background: none;
    }
    &:first-child {
      margin-right: 20px;
    }
    &:last-child {
      margin-left: 20px;
    }
  }
}

.pagination-btn {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  background: #2e323a;
  border-radius: 50px;
  line-height: 1;
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
  &.active {
    background: var(--grey);
    color: var(--black);
  }
  @media (hover: hover) {
    &:hover {
      background: var(--grey);
      color: var(--black);
    }
  }

  &.prev,
  &.next {
    &:disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}

@media (max-width: 1023px) {
  .table {
    thead {
      font-size: 16px;
      text-transform: capitalize;
      span {
        display: none;
      }
    }
    tbody {
      font-size: 14px;
    }
    tr {
      min-height: 48px;
      gap: 10px;
      border-radius: 24px;
      th,
      td {
        position: relative;
        text-align: left;
        padding: 10px 0;
        @supports (-webkit-touch-callout: none) and (-webkit-overflow-scrolling: touch) {
          padding: 13px 0px 6px 0px;
        }

        //столбец 1
        &:nth-child(1) {
          width: 112px;
          padding-left: 20px;
        }

        //столбец 2
        &:nth-child(2) {
          width: 140px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        //столбец 3
        &:nth-child(3) {
          width: 130px;
        }

        //столбец 4
        &:nth-child(4) {
          width: 230px;
          padding-right: 20px;
        }
      }
    }
  }

  .winners-filters {
    justify-content: center;
    gap: 40px;
    margin: 0px auto 20px auto;

    .form {
      width: 100%;
      max-width: 268px;
      position: relative;
      .label {
        width: 100%;
        .input {
          border-radius: 40px;
          height: 42px;
        }
        .label__text {
          font-weight: 575;
          opacity: 1;
          top: 11.5px;
          color: #3e464b;
          font-size: 14px;
        }
      }
      button {
        width: 42px;
        height: 42px;
        position: absolute;
        right: 1px;
        top: 0px;
        transition: 0.3s;
      }
    }
  }
}

@media (max-width: 767px) {
  .section--winners {
    padding: 80px 0px;
  }
  .table {
    thead {
      font-size: 12.5px;
      text-transform: capitalize;
    }
    tbody {
      font-size: 10px;
    }
    tr {
      min-height: 40px;
      gap: 8px;
      border-radius: 20px;
      th,
      td {
        position: relative;
        text-align: left;
        padding: 10px 0;
        @supports (-webkit-touch-callout: none) and (-webkit-overflow-scrolling: touch) {
          padding: 13px 0px 6px 0px;
        }

        //столбец 1
        &:nth-child(1) {
          width: 76px;
          padding-left: 14px;
        }

        //столбец 2
        &:nth-child(2) {
          width: 70px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        //столбец 3
        &:nth-child(3) {
          width: 88px;
        }

        //столбец 4
        &:nth-child(4) {
          width: 100px;
          padding-right: 14px;
        }
      }
    }
  }

  .winners-filters {
    justify-content: center;
    gap: 40px;
    margin: 0px auto 20px auto;

    .form {
      width: 100%;
      max-width: 268px;
      position: relative;
      .label {
        width: 100%;
        .input {
          border-radius: 40px;
          height: 42px;
        }
        .label__text {
          font-weight: 575;
          opacity: 1;
          top: 11.5px;
          color: #3e464b;
          font-size: 14px;
        }
      }
      button {
        width: 42px;
        height: 42px;
        position: absolute;
        right: 1px;
        top: 0px;
        transition: 0.3s;
      }
    }
  }
}

@media (max-width: 374px) {
  .table {
    thead {
      font-size: 12px;
    }
    tbody {
      font-size: 8px;
    }
    tr {
      gap: 4px;
      th,
      td {
        &:nth-child(1) {
          width: 70px;
          padding-left: 10px;
        }

        //столбец 2
        &:nth-child(2) {
          width: 65px;
        }

        //столбец 3
        &:nth-child(3) {
          width: 80px;
        }

        //столбец 4
        &:nth-child(4) {
          width: 95px;
          padding-right: 10px;
        }
      }
    }
  }
}
